
@page

@model Web_CRUD.Pages.Clientes.EditarModel

@{
}

<br />

<h2>Editar Cliente</h2>

@if (Model.mensagemErro.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.mensagemErro</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
}

@if (Model.mensagemSucesso.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.mensagemSucesso</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
}

<form method="POST">
    <input type="hidden" name="id" value="@Model.infoCliente.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nome</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nome" value="@Model.infoCliente.nome" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.infoCliente.email" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Contato</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="contato" value="@Model.infoCliente.contato" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Endereço</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="endereco" value="@Model.infoCliente.endereco" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
        <div class="col d-grid">
            <a class="btn btn-outline-primary" href="/Clientes" role="button">Cancelar</a>
        </div>
    </div>

</form>